<form action="doctors_accessl" method="post">
  <div class="container">
    <h2>doctor access</h2>
    <label for="user">doctor Name</label>
    <input type="text" placeholder="Type Your Name" name="name" class="user-name" id="user" />
    <label for="pass">class room name</label>
    <input type="text" placeholder="Type Your class room name" name="ClassRoomName" class="password" id="doctor_code" />
    <input type="submit" class="button" />
  </div>
</form>